
main{
    background-image: url(Images/qCrgLd.jpg);
    image size:
}
body {
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: poppins;

    align-self: auto;
    background-color: lightblue;
    text-align: center;
}

h2 {
    font size: 20px;
}

.knapp-Download {
    border: 3px solid #0a0506;
    background: transparent;
    
}

h1 a{
    cursor: pointer;
    text-decoration: none;
    color: tomato;

}

hr{

    color: gray;
    width: 200px;
    
}


ul {
    list-style: none;
}

footer {
    color: wheat;
    padding-bottom: 20px;
}