h1 {

    text-align: center;
    width: 100%;
}

hr{
    color: gray;
    width: 200px;
}

body {
    align-self: auto;
    background-color: lightblue;
    text-align: center;
}

ul {
    list-style: none;
}

footer {
    padding-bottom: 20px;
}